

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

　<head>

　　<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

　　<img src="https://i.imgur.com/4QnWsts.png" width="300" height="110">
	 
		<p>Hi! <%=seller%>, we are Archived.</p>
		<p> </p>
		<p><%=buyer%>(phone:<%=buyerPhone%>) would like to buy your item:《<%= title %>》 </p>

		<img src="<%=pictureUrl%>" alt="Image unavailable" width="200" height="400" class="card-img-top">

　　<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

　</head>

</html>