<!DOCTYPE HTML>
<html>
<head>
	<title>Archived</title>
	
	
	<!----- STYLESHEET REFS - BOOTSTRAP -----------------------> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
	<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
	<style>
		body{
			width: 100%; 
			height: 95%;
		}
        container{
            width:90%;
            height:90%;
		}
        
    </style>
	
<script>
	function sellerImformationAlert()
	{
		alert("Please log in to use this feature")
	}
	function addFavoritesAlert()
	{
		alert("Please log in to use this feature")
	}
</script>
</head>



<body id="g">
	<header id="main-header">
	
		<!--  Navigation Bar  ------------------------------------------------------------------------------------------------------------>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		    <div class="container-fluid justify-content-between">
			  
			<!--  Logo  ------------------------------------------------------------------------------------------------------------------>
				<a class="navbar-brand" href="/search" methond="GET"><img src="https://i.imgur.com/4QnWsts.png" height=40px></a>

			<!-- Search Form ------------------------------------------------------------------------------------------------------------->	
				<form class="form-inline" action="/results" methond="GET">
				   <input class="form-control mr-sm-2" type="search" placeholder="Search for a title" aria-label="Search" name="search" style="width:700px;"> 
				    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" >
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
					</button>
			    </form>
			
			<!-- Account Part ------------------------------------------------------------------------------------------------------------->
				<form class="d-flex align-middle">
					<p>
						<a href="/emailCheck">Sign up</a>
						or 
						<a href="/log-in">Log in</a>
					</p>
				</form>
				
			</div> <!-- container -->
		</nav> <!-- nav bar -->
	
	</header>
	
	

<!-- <h3>Search results for "<%=SearchWords%>" </h3>
<form action="/search" methond="GET" >
	<input type="submit" value="Go back" > 
</form> -->
	

	
<ul overflow:auto>
	
	<!-- traverse  argument's elements with argument=data["items"]   -->
	
	<!-- <div class="row"> -->

		
		<!-- myFunc creating for checking pictures problem -->
	 	
			<%function myFunc(argument) {%>
				<% try { %>
		
				<img src="<%=data["items"][0]["volumeInfo"]["imageLinks"]["thumbnail"]%>" alt="wow! this is a bad picture!" width="200" height="600" class="card-img-top">
		
				<% } catch(e) { } %>
			<% } %>
		
				
		<!-- run the myFunc -->
	
	<div class="row"> <!-- THUMBNAIL AND DESCRIPTION IN ONE ROW ------------->
		<div class=" col-sm-4 ">
			<!-- <div class="card border-dark mb-3"> -->
				<div class="thumbnail">
						<!-- <!-- traverse  argument's elements with argument=argument   -->  
						<!-- BOOK THUMBNAIL IN LEFT COLUMN --> 
						<div class="card-body">
							<center><b><h4 class="card-title"><%= data["items"][0]["volumeInfo"]["title"];	%></h4></b></center>
								<% myFunc(data["items"][0])  %>	
						</div>
				
			<!-- </div>	 -->
				</div>
		</div>
	<!-- </div> -->
	
		<div class="col-8">
			<div class="details">
					<!----- SELLER NUMBER ------------------> 	
					<div class="sellers"><center><b><%=sellNumber %> seller(s) available</b></center></div>
					<!-- <ul class="nav nav-pills"> -->
						  <!--- CHECK AVAILABLE SELLERS BUTTON --------    
						  <li class="nav-item">
							<button type="button" class="btn btn-success"  onclick="sellerImformationAlert()">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-question-circle" viewBox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 			1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
							</svg> Check available sellers
							</button>
						</li>
						------------------------------------------------->

						<!-- 
						  <div class="center">&ensp;&thinsp;</div>
						  <div class="center">&ensp;&thinsp;</div> -->

						<!-- LIKE BUTTON ----------------- 
						<li class="nav-item">
							<button type="button" class="btn btn-danger" onclick='addFavoritesAlert()'>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-heart" viewBox="0 0 16 16">
								<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z">
								</path></svg>Add to favorites
							</button>
						</li>
					  </ul> ---------------------------------->  


					<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" tabindex="0">
						<div class="description">																		
						  <h2>Description</h2>
						  <p class="desc"> <%= data["items"][0]["volumeInfo"]["description"]	%></p>
						  <button onclick="sellerImformationAlert()" class="btn btn-primary my-2 my-sm-0" type="button"  value=">">Buy this book</button>
						  <button onclick="sellerImformationAlert()" class="btn btn-primary my-2 my-sm-0" type="button"  value=">">Sell this book</button>
						  <br>
						  <br>
						  <p class="card-text">
							<br>  
							<h5> Additional Details </h5>  
							Date Published: <%= data["items"][0]["volumeInfo"]["publishedDate"]; %> 
							<br> Page Count: <%= data["items"][0]["volumeInfo"]["pageCount"]; %> 
							<br> Average Rating (out of 5 stars): <%= data["items"][0]["volumeInfo"]["averageRating"]; %> 									<br> Language: <%= data["items"][0]["volumeInfo"]["language"]; %> 
						</div> <!-- end of description --> 
					</div><!-- end of scroll ----> 
			 </div> <!-- end details container -->
			</div> <!-- end of column container -->
		</div> <!-- end of row container --> 
		</ul>
<!-- <div class="row">
	<div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://i.imgur.com/qK42fUu.jpg">
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://i.imgur.com/qK42fUu.jpg">
        </div>
     </div>
     <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://i.imgur.com/qK42fUu.jpg">
        </div>
     </div>
     <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://i.imgur.com/qK42fUu.jpg">
        </div>
     </div>
     <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://i.imgur.com/qK42fUu.jpg">
        </div>
     </div>
     <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://i.imgur.com/qK42fUu.jpg">
        </div>
     </div>
     <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://i.imgur.com/qK42fUu.jpg">
        </div>
     </div>
     <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://i.imgur.com/qK42fUu.jpg">
        </div>
     </div>
     <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="http://i.imgur.com/qK42fUu.jpg">
      	</div>
     </div>
</div> -->

	
    <!----- STYLESHEET REFS - BOOTSTRAP -----------------------> 
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>

</body>
</html>